# dependencies
API/node_modules
client/node_modules

# testing
API/coverage
API/.nyc_output

# production
/build
API/dist

# misc
.DS_Store
API/.DS_Store
client/.DS_Store
API/.env
client/.env
API/.prettierrc
client/.prettierrc
API/.vscode

client/yarn-debug.log*
client/yarn-error.log*
API/npm-debug.log*
API/npm-debug.log*
