$listGreyBackground: #111;
$listGreyBackgroundSelected: #222;
$listWhite: #ccc;
$dullRed: #9f0101;

#login-container {
  top: 30%;
  background: rgba(58, 63, 68, 1);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0, 0, 0, 0.1);
  width: 450px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  left: 35%;
  width: 400px;
  .MuiSvgIcon-root {
    display: flex;
    align-self: center;
    width: 10%;
    background-color: black;
    height: 80%;
    padding: 15px;
  }
  .logo {
    font-family: "museo-slab";
    font-size: 20px;
    text-align: center;
    padding: 20px 20px 0;
    margin: 0;
  }
  .login-item {
    color: #ffff;
    padding: 25px 25px 0;
    margin: 20px 20px 0;
    border-radius: 3px;
  }
  .form input[type="password"],
  .form input[type="text"],
  .form button {
    width: 100%;
  }
  .form-login label,
  .form-login input[type="text"],
  .form-login input[type="password"],
  .form-login button {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3a3f44;
  }
  .form-login label {
    background-color: #222222;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .form-login input[type="text"],
  .form-login input[type="password"] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .form-login input[type="text"]:focus,
  .form-login input[type="text"]:hover,
  .form-login input[type="password"]:focus,
  .form-login input[type="password"]:hover {
    background-color: #eeeeee;
  }
  .form-login button {
    background-color: $dullRed;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }
  .form-login button:focus,
  .form-login button:hover {
    background-color: red;
  }
  .form-field {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .text--center {
    text-align: center;
  }
  input {
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
}

#search-container {
  width: 60%;
  position: absolute;
  top: 40%;
  left: 30%;
  #search-spinner {
    position: absolute;
    top: 40%;
    left: 40%;
  }
  #search-input {
    width: 40%;
    max-width: 500px;
    width: 100%;
    font-size: 1.6em;
    background-color: black;
    &:hover {
      border-bottom-width: 2px;
      -webkit-transition: border-bottom-width 0.3s;
      transition: border-bottom-width 0.3s;
    }
  }
  #results-list {
    width: 90%;
    margin-right: 20px;
    padding-left: 3px;
  }
  .search-result {
    width: 100%;
    height: 30px;
    background-color: $listGreyBackground;
    color: $listWhite;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: $listGreyBackgroundSelected;
      cursor: grab;
    }
    .search-result-name {
      margin-right: 5px;
    }
  }
  .search-result-clock {
    background-color: $listWhite;
    border-radius: 50%;
  }
  .clock-container {
    align-self: center;
  }
}

@media screen and (max-width: 1200px) {
  #search-container {
    left: 26%;
  }
  #login-container {
    left: 30%;
  }
}

@media screen and (max-width: 900px) {
  #search-container {
    left: 20%;
  }
  #login-container {
    left: 15%;
  }
  .search-result {
    overflow: scroll;
  }
}
